body {
  background-color: #f6f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.landing--top {
  width: 100%;
  height: 95vh;
  background-color: #f7f7f7;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 2rem;
  font-family: "Assistant", sans-serif;
  color: #505050;
  font-size: 1rem;
  font-weight: 700;
}

.logo img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.active {
  font-weight: bold;
  color: #2d2a2a;
}

.toggle {
  display: none;
}

#landing {
  display: flex;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -42%);
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.illustration {
  height: 20rem;
}

.text--p {
  line-height: 0px;
  margin: 3rem 0 1.8rem;
}

.text--p__1 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 1.5rem;
}

.text--p__2 {
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 4rem;
}

.text--p__3 {
  color: #403e3e;
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 1rem auto 0.5rem;
}

.text--btn {
  width: 8rem;
  height: 2.5rem;
  border-radius: 10px;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
  margin: 0 0.6rem 0 0;
  cursor: pointer;
}

.text--btn__hire {
  border: 2px solid #373636;
  color: #373636;
}

.text--btn__view {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

.text--btn:active {
  transform: scale(1.1);
}

.about {
  width: 80%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 1.2rem auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.about--model {
  height: 15rem;
}

.about--text {
  width: 40rem;
  padding-bottom: 5px;
  margin: 20px 10px;
}

.about--text__p1 {
  color: #403e3e;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 0;
}

.about--text__p2 {
  color: #3e3d3d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 5px;
}

.about--text__p3 {
  color: #7e7d7d;
  font-size: 1rem;
  text-align: justify;
}

.about--btn {
  width: 7.5rem;
  height: 2.5rem;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  background-color: #262525;
  outline: none;
  border: none;
  margin: 0 0.6rem 0 0;
  cursor: pointer;
}

.about--btn:active {
  transform: scale(1.1);
}

#services {
  height: auto;
  background-color: #ffffff;
  padding: 2% 10% 0;
  margin-bottom: 20px;
}

.services--h {
  font-weight: bold;
  color: #1d1c1c;
  font-size: 1.5rem;
  line-height: 0px;
}

.services--p {
  color: #7e7d7d;
  font-size: 1rem;
  width: 50%;
  margin: 20px 0;
  text-align: justify;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box--1,
.box--2,
.box--3 {
  width: 20rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
  border-radius: 25px;
}

.box--1 {
  background-image: url(../images/services-1.png);
}

.box--2 {
  background-image: url(../images/services-3.png);
}

.box--3 {
  background-image: url(../images/services-2.png);
}

.box--1 span,
.box--2 span,
.box--3 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
}

.box--heading {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 0px;
}

.box--btn {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contact {
  width: 100%;
  height: 17.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/project\ in\ your\ mind.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.2rem;
}

.contact--p {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}

.contact--btn {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer--h {
  font-size: 1.8rem;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}

.footer--p {
  font-size: 1rem;
  color: #7e7d7d;
  text-align: center;
}
.footer--social {
  display: flex;
}

.footer--social a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}

.footer--social i,
.sidebar--social i {
  color: #000000;
}

.footer--social a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}

.footer--social a:hover i,
.sidebar--social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.copyright {
  color: #565555;
  font-size: 12px;
  margin: 10px 0 30px;
}

.sidebar--social {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.sidebar--social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.sidebar--social a:hover {
  background-color: #000000;
  transition: all ease 0.5s;
}
.sidebar--social i {
  font-size: 20px;
  color: #2b2b2b;
}

@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .text {
    top: 46%;
  }

  .text--btn {
    margin: 0.3rem;
  }

  .about {
    width: 90%;
    border-radius: 10px;
  }

  .about--model {
    height: 12.5rem;
  }

  .about--text {
    width: 30rem;
    text-align: justify;
  }

  #services {
    height: auto;
    padding: 2% 5% 0;
  }

  .box {
    justify-content: center;
    flex-wrap: wrap;
  }

  .box--1,
  .box--2,
  .box--3 {
    flex-grow: 1;
    margin: 10px;
  }

  .contact {
    height: 12.5rem;
  }

  .contact--p {
    font-size: 1.6rem;
  }

  .contact--btn {
    width: 160px;
    height: 35px;
  }
}

@media (max-width: 750px) {
  .landing--top {
    background-color: #f7f7f7;
  }

  #landing {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .illustration {
    max-width: 320px;
  }

  .text--p__1,
  .text--p__2,
  .text--p__3 {
    text-align: center;
  }

  .text--p__2 {
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
  }

  .text--button {
    display: flex;
    justify-content: space-around;
  }

  /* Navigation toggle */
  nav ul {
    margin: 0;
    padding: 0;
    background-color: #ebeef4;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
  }

  nav ul li {
    padding: 10px;
  }

  nav ul li a {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #5c5c5c;
  }

  nav ul li a:hover {
    color: #121212;
  }

  .toggle {
    display: block;
  }

  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 1.8rem;
    z-index: 1;
  }

  .toggle.active:before {
    content: "\f00d";
    position: fixed;
    right: 25px;
    line-height: 0px;
  }
  nav.active ul {
    display: flex !important;
  }

  .about {
    top: 0;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 30px 0px;
    align-items: center;
  }

  .about--text {
    width: 90%;
    text-align: center;
  }

  .about--text__p3 {
    text-align: justify;
  }

  .box--1,
  .box--2,
  .box--3 {
    flex-grow: 0;
  }

  .services--p {
    width: 100%;
  }

  .contact {
    height: 11rem;
  }

  .contact--p {
    font-size: 1rem;
  }

  .contact--btn {
    width: 150px;
    height: 33px;
  }
}
